<h1 class="primary-heading">Manage Your Problem</h1>
<h2>Problem Name:{{model.name}}</h2>
<h2>Team Members:</h2>
<label>
  Update progress tracker:
  <input class="manage-input-progress" type="text" placeholder="Enter percent complete here">
</label>

{{yield}}
