<h1 class="header problems-create-header">Edit Your Problem's Details</h1>
<label>
  Problem Name:
  <input class="problems-create-name" type="text" placeholder="Name of problem">
</label>
<label>
  Description:
  <textarea class="problems-create-description" placeholder="Short description of the problem"></textarea>
</label>
<span>Category:</span>
<label>
  <input class="problems-create-category" type="radio" name="category" value="Home">Home
  <input class="problems-create-category" type="radio" name="category" value="Community">Community
  <input class="problems-create-category" type="radio" name="category" value="Music/Art">Music/Art
  <input class="problems-create-category" type="radio" name="category" value="Software">Software
</label>
<label>
  Location:
  <input class="problems-create-location" type="text" placeholder="City, State, and Country">
</label>
<button class="problems-create-button-location">Use Current Location</button>
<span>Project URLs:</span>
<input class="problems-create-URL" placeholder="Trello URL">
<input class="problems-create-URL" placeholder="Google Hangouts URL">
<input class="problems-create-URL" placeholder="Meetup.com URL">
<button class="button-submit">Edit Problem</button>

{{outlet}}



{{yield}}
