<h1 class="primary-heading">Edit Your Team</h1>
<h2>Existing Team</h2>
<h3>Name</h3>
{{problems-members model=model}}
<h2>Requesting To Be Added:</h2>
{{problems-requests model=model}}
<label>
  Update progress tracker:
  <input class="manage-input-progress" type="text" placeholder="Enter percent complete here">
</label>

{{yield}}
