<h2 class="search-results-primary-heading">Search Results</h2>
<h3 class="search-results-secondary-heading">Showing Results for: MODEL.QUERY</h3>
<ul class="search-results-list">
{{#each model as |result|}}
  {{!-- <li>{{result._data.name}}</li> --}}
{{/each}}
</ul>

{{yield}}
