<div class="index-search-input-container">
  {{input class="index-search-input" type="text" placeholder="Search by Keyword, Location, or Tags" value=query}}
  <button class="index-button-search" {{action 'sendQuery' query}}>Search</button>
</div>
<div class="index-search-radio-container">
  <input class="index-search-radio" name="queryType" type="radio" id="users" value="users" checked>
  <label class="search-label" for="users">Search Users</label>
  <input class="index-search-radio" name="queryType" type="radio" id="problems" value="problems">
  <label class="search-label" for="problems">Search Problems</label>

</div>
{{yield}}
