<select class="index-search-select">
  <option value="users">Search Users</option>
  <option value="problems">Search Problems</option>
</select>
{{input class="index-search-input" type="text" placeholder="Keyword, Location, Tags" value=query}}
<button class="index-button-search" {{action 'sendQuery' query}}>Search</button>
{{yield}}
