{{#link-to 'users.create'}}
  <div class="nav-container-signup">
    <button class="nav-button-signup">Signup</button>
  </div>
{{/link-to}}

<form class="nav-form-login" {{action 'authenticate' on='submit'}}>
  {{input class="nav-input" type="text" placeholder="Email" value=identification}}
  {{input class="nav-input" type="password" placeholder="Password" value=password}}
  <button class="nav-button-login">Login</button>
</form>

{{yield}}
