<form {{action 'authenticate' on='submit'}}>
  {{input class="nav-input nav-input-username" type="text" placeholder="Email" value=identification}}
  {{input class="nav-input nav-input-password" type="password" placeholder="Password" value=password}}
  <button class="nav-button nav-button-login">Login</button>
</form>
{{#link-to 'users.create'}}
  <button class="nav-button nav-button-signup">Signup</button>
{{/link-to}}


{{yield}}
