<input class="nav-input nav-input-username" type="text" placeholder="username">
<input class="nav-input nav-input-password" type="password" placeholder="password">
<button class="nav-button nav-button-login">Login</button>

{{yield}}
