// Bitters 1.0.0
// http://bitters.bourbon.io
// Copyright 2013-2015 thoughtbot, inc.
// MIT License

@import "variables";
@import "buttons";
@import "forms";
@import "lists";
@import "tables";
@import "typography";

/*--------------------------------
UNIVERSAL / BASE
--------------------------------*/

* {
  box-sizing: border-box;
}

*:focus {
    outline: 0;
}

img {
  max-width: 100%;
}

p {
  margin-bottom: 1em;
}

.primary-heading,
.secondary-heading {
  font-family: $magra;
  font-weight: bold;
  text-align: center;
}

.key-title {
  font-weight: bold;
}

.list-item-title {
  font-weight: bold;
}

.input-error {
  color: red;
}

/*--------------------------------
BODY
--------------------------------*/

/*--------------------------------
APPLICATION
--------------------------------*/

.outer-container {
  @include outer-container(100%);
  background-color: #fff;
}

.primary-nav {
  width: 100%;
  background-color: #fff;
  padding: 0.5em;
  overflow: hidden;
  background: -webkit-linear-gradient(90deg, #78D47A 10%, #FBE01B 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #78D47A 10%, #FBE01B 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #78D47A 10%, #FBE01B 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #78D47A 10%, #FBE01B 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #78D47A 10%, #FBE01B 90%); /* W3C */
  -webkit-box-shadow: 0 0px 1px 1px #999;
       -moz-box-shadow: 0 0px 1px 1px #999;
            box-shadow: 0 0px 1px 1px #999;
}

.nav-buttons-container {
  display: inline-block;
  float: left;
}

.nav-buttons-container {
  display: inline-block;
  float: left;
  line-height: 0;
}

.nav-form-login {
  display: inline-block;
  float: right;
}

.nav-input,
.nav-button-login {
  display: inline;
  margin-bottom: 0;
}

input.nav-input {
  line-height: inherit;
  margin-bottom: 0;
}

.nav-logo-text {
  vertical-align: -webkit-baseline-middle;
  vertical-align:             text-bottom;
  font-family: $days-one;
  font-size: 1.7em;
  padding-right: 0.5em;
  color: $base-charcoal;
  text-decoration: none !important;
}

.nav-logo-hidden {
  display: none;
}

.nav-container-logout {
  float: right;
}

.nav-button-logout {
  display: inline-block;
}

.profile-gravatar {
  border-radius: 50%;
}



/*--------------------------------
HEADER
--------------------------------*/

.header {
  text-align: center;
  color: $base-font-color;
  background: -webkit-linear-gradient(90deg, #78D47A 10%, #FBE01B 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #78D47A 10%, #FBE01B 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #78D47A 10%, #FBE01B 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #78D47A 10%, #FBE01B 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #78D47A 10%, #FBE01B 90%); /* W3C */
  padding-top: 0;
  padding-bottom: 2em;
  -webkit-box-shadow: 0 4px 4px -3px #999;
       -moz-box-shadow: 0 4px 4px -3px #999;
            box-shadow: 0 4px 4px -3px #999;
}

.header-logo {
  height: 16em;
  padding-right: 3em;
  vertical-align: bottom;
}

.index-headings-container {
  display: inline-block;
}

.index-secondary-heading {
  font-family: $magra;
  font-weight: bold;
  text-align: left;
  padding-left: 2em;
  padding-bottom: 1em;
}

.index-primary-heading {
  font-family: $days-one;
  font-size: 5em;
  font-weight: bold;
  text-align: center;
  margin: 0;
  margin-top: 0.5em;
}


/*--------------------------------
MAIN-INDEX
--------------------------------*/

.index-search-form {
  @include span-columns(10);
  @include shift(1);
  @include omega();
  margin-top: 2em;
}

.index-search-radio-container {
  text-align: center;
  margin-bottom: 1em;
}
.index-search-radio {
  margin-right: 1em;
}

.search-label {
  display: inline-block;
  margin-right: 1em;
}

.index-search-input {
  display: inline-block;
  width: 75%;
}

.index-button-search {
  width: 20%;
  line-height: 0.65;
}


.search-results-container {
  @include span-columns(9);
  @include shift(1.5);
}

.search-results-primary-heading {
  text-align: center;
}

.users-list-item {
  margin-bottom: 1em;
}

.users-list-item span {
  padding-right: 1em;
}

.users-list-item a {
  padding-right: 1em;
}

.users-list-item img {
  vertical-align: middle;
}

.search-results-skillschart {
  max-width: 150px;
  max-height: 150px;
  vertical-align: middle;
}


/*--------------------------------
PROBLEMS-INDEX
--------------------------------*/

.problems-outer-container {
  @include span-columns(12);
  @include omega();
}

.problems-heading {
  font-weight: bold;
  text-align: center;
}

.problems-globe-container {
  @include span-columns(6 of 12);
  text-align: center;
  border: 1px solid black;
}

.leaflet-index-container {
  @include span-columns(8 of 12);
  @include shift(2);
  @include omega();
  text-align: center;
  margin-bottom: 1em;
}

#indexmap {
  height: 42em;
  margin-bottom: 1em;
  -webkit-box-shadow: 0 3px 3px #999;
       -moz-box-shadow: 0 3px 3px #999;
            box-shadow: 0 3px 3px #999;
}

.globe {
  max-width: 100%;
  cursor: move;
}

.problems-index-container {
  @include span-columns(10 of 12);
  @include shift(1);
  @include omega();
  text-align: center;
  padding: 1em;
}

.problems-index {
  margin-top: 2em;
}



/*--------------------------------
PROBLEMS-CREATE
--------------------------------*/

.problems-create-fieldset {
 @include span-columns(10);
 @include shift(1);
 @include omega();
 padding: 1em;
 margin-bottom: 1em;
}

.problems-create-info,
.problems-create-tag {
  width: 100%;
}

#createmap {
  height: 31em;
  padding: 1em;
  margin-bottom: 1em;
  -webkit-box-shadow: 0 3px 3px #999;
       -moz-box-shadow: 0 3px 3px #999;
            box-shadow: 0 3px 3px #999;
}

.problems-create-button-addtag {
  display: block;
  margin: 0 auto;
}

.problems-create-location-text {
  text-align: center;
}

.problems-create-button-submit {
  @include span-columns(8);
  @include shift(2);
  @include omega();
}

/*--------------------------------
PROBLEMS-SHOW
--------------------------------*/

.problem-info-container {
  @include span-columns(5);
  @include shift(1);
  padding-left: 1em;
  padding-right: 1em;
}

.problem-location-container {
  @include span-columns(5);
  @include omega();
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

.problem-room-container {
  @include span-columns(10);
  @include shift(1);
  @include omega();
  padding-top: 2em;
  display: none;
}

.problem-room-container-show {
  display: block;
}

.appearin-heading {
  text-align: center;
  margin-bottom: 2em;
}

.problem-location-heading {
  font-weight: bold;
  text-align: center;
}

.problem-location-text {
  margin: 0.5em;
}

.problem-tags-list {
  margin-bottom: 0.75em;
}

.problem-tag {
  display: inline;
}

.problem-tag:after {
  content: ', ';
}

.problem-tag:first-child:after,
.problem-tag:last-child:after {
  content: '';
}

.problem-progress-text {
  margin-bottom: 2em;
}

.problem-progress-bar {
  display: inline-block;
}

/* progress bar code credit: https://css-tricks.com/html5-progress-element/
*/

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(top,
	                           rgba(255, 255, 255, .25),
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #78D47A 10%, #FBE01B 90%);

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.problem-members-list,
.problem-volunteer {
  margin-bottom: 2em;
}

.problem-members-list {
  padding-left: 1em;
  list-style-type: circle;
}

.problem-members-list img {
  vertical-align: middle;
  margin-right: 1em;
}

.problem-members-list-item {
  margin-bottom: 1em;
}

.problem-email-label {
  margin: 0;
}

.problem-email {
  display: block;
  width: 100%;
  margin-bottom: 1em;
}

.problem-button-review {
  margin-bottom: 1em;
}

.problems-button-message {
  margin-bottom: 2em;
}

.problem-show-review-text {
  margin-bottom: 1em;
}

/*--------------------------------
LOCATION-PHOTOS
--------------------------------*/

.location-photo-wrapper {
  display: inline-block;
  height: 6em;
  width: 23%;
}

.location-photo {
  padding: 0.3em;
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 0 3px 3px #999;
       -moz-box-shadow: 0 3px 3px #999;
            box-shadow: 0 3px 3px #999;
}

#appearin-room {
  width: 100%;
}

/*--------------------------------
PROBLEMS-MANAGE
--------------------------------*/
.manage-heading {
  text-align: center;
}

.manage-members-list {
  @include span-columns(9);
  @include shift(1.5);
  @include omega();
}

.manage-progress {
  @include span-columns(9);
  @include shift(1.5);
  text-align: center;
}

.manage-input-progress {
  display: inline-block;
  margin-right: 1em;
}

.manage-members-list {
  padding-left: 1em;
  margin-bottom: 1em;
  list-style-type: circle;
}

.manage-members-list img {
  vertical-align: middle;
}

.manage-members-list-item {
  margin-bottom: 1em;
  list-style-type: none;
}

.manage-member-name {
  text-align: center;
  font-weight: bold;
}

.manage-text-complete {
  padding-right: 1em;
}

.manage-button-complete {
  vertical-align: middle;
}

/*--------------------------------
PROBLEMS-REVIEW
--------------------------------*/
.review-members-list {
  @include span-columns(9);
  @include shift(1.5);
}

.review-members-list img {
  vertical-align: middle;
}

.review-input-label {
  @include span-columns(3 of 9);
}

.teammate-review {
  margin-bottom: 1em;
}

.review-member-name {
  text-align: center;
  font-weight: bold;
}

.review-instructions {
  text-align: center;
}

.review-input-label {
  text-align: center;
}

.review-input {
  margin: 0 auto;
}

.review-button-submit {
  display: block;
  margin: 0 auto;
}



/*--------------------------------
USERS-CREATE
--------------------------------*/

.users-create-fieldset {
 @include span-columns(10);
 @include shift(1);
 @include omega();
 padding: 1em;
 margin-bottom: 1em;
}

.users-create-info,
.users-create-location,
.users-create-optional {
  width: 100%;
}

.users-create-button-location,
.users-create-button-addinterest {
  display: block;
  margin: 0 auto;
}

.users-create-location-text {
  text-align: center;
}

.users-create-button-submit {
  @include span-columns(8);
  @include shift(2);
  @include omega();
}

/*--------------------------------
USERS-SHOW
--------------------------------*/

.user-info-gravatar {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.user-info-container {
  @include span-columns(4);
  padding: 1em;
}

.user-skillchart-container {
  @include span-columns(4);
  padding: 1em;
}

.user-skillpoints-container {
  @include span-columns(4);
  @include omega();
  padding: 1em;
}

.user-contributions-container {
  @include span-columns(10);
  @include shift(1);
}

.user-contributions-list {
  @include span-columns(5 of 10);
  list-style-type: circle;
  padding: 1em;
}

.user-contributions-map {
  @include span-columns(5 of 10);
  @include omega();
  padding: 1em;
}

.users-show-section-heading,
.user-skillchart-heading {
  text-align: center;
}

.user-skills-list,
.user-info-list {
  text-align: center;
}

.user-info-item,
.user-skill,
.user-contribution {
  margin-bottom: 1em;
}

.user-email-textarea {
  display: block;
  width: 100%;
  margin-bottom: 1em;
}

.user-info-button-email {
  display: block;
  margin: 0 auto;
}

.user-chart {
  display: block;
  max-width: 100%;
  max-height: 389px;
}

.user-interest {
  display: inline;
}

.user-interest:after {
  content: ', ';
}

.user-interest:first-child:after,
.user-interest:last-child:after {
  content: '';
}

#showmap {
  height: 31em;
  margin-bottom: 1em;
  -webkit-box-shadow: 0 3px 3px #999;
       -moz-box-shadow: 0 3px 3px #999;
            box-shadow: 0 3px 3px #999;
}



/*--------------------------------
FOOTER
--------------------------------*/
footer {
  @include span-columns(10);
  @include shift(1);
  @include omega();
  height: 2em;
  margin-top: 6em;
}

.attribution {
  font-size: 0.5em;
  text-align: right;
}
