// Bitters 1.0.0
// http://bitters.bourbon.io
// Copyright 2013-2015 thoughtbot, inc.
// MIT License

@import "variables";
@import "buttons";
@import "forms";
@import "lists";
@import "tables";
@import "typography";

/*--------------------------------
BODY
--------------------------------*/

body {
  @include outer-container(980px);
}

/*--------------------------------
BODY
--------------------------------*/

.primary-nav {
  border-bottom: 1px solid red;
}

.nav-button,
.nav-input {
  display: inline-block;
}

.nav-buttons-group {
  display: inline-block;
}

/*--------------------------------
HEADER
--------------------------------*/

.index-hero-header {
  text-align: center;
}

/*--------------------------------
PROBLEMS-INDEX
--------------------------------*/

.problems-main-heading {
  text-align: center;
}

.problems-index-map {
  @include span-columns(6);
  text-align: center;
  height: 400px;
  border: 1px solid red;
}

.problems-index-container {
  @include span-columns(6);
  @include omega();
  text-align: center;
  height: 400px;
  border: 1px solid red;
}

.problems-filter-heading {
  text-align: center;
}

.category-filter-list {
  @include span-columns(12);
}

.filter-list-item {
  @include span-columns(2 of 12);
  text-align: center;
  border: 1px solid red;
}

.problems-search-form {
  @include span-columns(12);
  @include shift(3.5);
}

.problems-search-input {
  @include span-columns(4);
}

.problems-search-input,
.button-search {
  display: inline-block;
}

.canvas-map {
  border: 1px solid green;
}

/*--------------------------------
PROBLEMS-SHOW
--------------------------------*/
.problem-show-map {
  @include span-columns(6);
  text-align: center;
  height: 400px;
  border: 1px solid red;
}

/*--------------------------------
PROBLEMS-MANAGE
--------------------------------*/

/*--------------------------------
USERS-SHOW
--------------------------------*/
.users-show-chart {
  text-align: center;
  height: 200px;
  width: 200px;
  border: 1px solid red;
}

.users-show-map {
  text-align: center;
  height: 200px;
  width: 200px;
  border: 1px solid red;
}

/*--------------------------------
FOOTER
--------------------------------*/
