// Typography
$base-font-family: $helvetica, $georgia, serif;
$heading-font-family: $base-font-family;
$days-one: 'Days One', $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;
$base-auburn: #FA7921;
$base-yellow: #FBE01B;
$base-blue: #058ED9;
$base-charcoal: #3F3F37;
$base-green: #40D425;

// Font Colors
$base-background-color: #fff;
$base-font-color: #3F3F37;
$action-color: $base-blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
