<h1 class="header user-create-header">New User Signup</h1>
<label>
  First Name:
  <input class="users-create-firstname" type="text" placeholder="Enter your first name here">
</label>
<label>
  Last Name:
  <input class="users-create-lastname" type="text" placeholder="Enter your last name here">
</label>
<label>
  Age:
  <input class="users-create-age" type="text" placeholder="Enter your age here">
</label>
<label>
  Describe yourself:
  <textarea class="users-create-description" placeholder="Enter a few words to introduce yourself to others."></textarea>
</label>
<label>
  Age:
  <input class="users-create-age" type="text" placeholder="Enter your age here">
</label>
<fieldset>
  <legend>Location</legend>
  <label>
    City:
    <input class="users-create-city" type="text" placeholder="Enter your city here">
  </label>
  <label>
    State/Province:
    <input class="users-create-state" type="text" placeholder="Enter your state/province here">
  </label>
  <label>
    Country:
    <input class="users-create-country" type="text" placeholder="Enter your country here">
  </label>
  <button class="users-create-button-location">Use Current Location</button>
</fieldset>
<label>
  Interests:
  <input class="users-create-interest" type="text" placeholder="Enter some personal interests here">
  <input class="users-create-interest" type="text" placeholder="Enter some personal interests here"><input class="users-create-interest" type="text" placeholder="Enter some personal interests here">
</label>
<label>
  Occupation:
  <input class="users-create-occupation" type="text" placeholder="Enter your occupation here">
</label>
<label>
  Email:
  <input class="users-create-email" type="email" placeholder="Enter your email address here">
</label>
<button class="button-submit">Sign Up!</button>

{{outlet}}
