<div class="search-results-container">
  <h2 class="search-results-primary-heading">Search Results</h2>
  <h3 class="search-results-secondary-heading">Showing results for volunteers: "{{model.query.name}}"</h3>
  {{users-index model=model}}
  {{outlet}}
</div>
