<h2 class="search-results-primary-heading">Search Results</h2>
<h3 class="search-results-secondary-heading">Showing Results for: MODEL.QUERY</h3>
{{#each model as |problem|}}
  <li class="problems-list-item">{{problem.name}}</li>
{{/each}}
{{outlet}}
