<nav class="primary-nav">
  {{sessions-create}}
  <div class="nav-buttons-group">
    {{#link-to 'users.create'}}
      <button class="nav-button nav-button-signup">Signup</button>
    {{/link-to}}
    {{#link-to 'index'}}
      <button class="nav-button nav-button-home">Home</button>
    {{/link-to}}
    {{#link-to 'users.show'}}
      <button class="nav-button nav-button-profile">Profile</button>
    {{/link-to}}
  </div>
</nav>
{{outlet}}
