<nav class="primary-nav">
  <button class="nav-button nav-button-login">Login</button>
  <input class=" nav-input nav-input-username" placeholder="username">
  <input class="nav-input nav-input-password" placeholder="password">
  <button class="nav-button nav-button-signup">Signup</button>
</nav>
<header class="landing-header">
  <h1>Team Builder</h1>
  <button>Add a Problem You Need Help Solving</button>
</header>
<section class="landing-index">
  <h2 class="landing-index-heading">Explore problems submitted by others and volunteer to join a team to help solve them.</h2>
  <div class="problem-index-map">Map</div>
  <div class="problem-index-container">Problems You Can Help With:
    <ul class="problems-index">
      <li class="problem-list-item">Jones Family Home</li>
      <li class="problem-list-item">Greenville Traffic Analysis</li>
      <li class="problem-list-item">Middle School Math Tutoring</li>
      <li class="problem-list-item">Community Garden Needs</li>
    </ul>
  </div>
  <h2 class="problem-filter-heading">Filter by category</h2>
  <ul class="category-filter-list">
    <li class="filter-list-item">Home</li>
    <li class="filter-list-item">Civic</li>
    <li class="filter-list-item">Community</li>
    <li class="filter-list-item">Software</li>
    <li class="filter-list-item">Art & Music</li>
    <li class="filter-list-item">Other</li>
  </ul>
  <form class="landing-search-form">
    <input class="landing-search-input" placeholder="Search for users or problems by keyword"><button class="button-search">Search</button>
  </form>
</section>






{{outlet}}
