<nav class="primary-nav">
  <button class="nav-button nav-button-login">Login</button>
  <input class=" nav-input nav-input-username" placeholder="username">
  <input class="nav-input nav-input-password" placeholder="password">
  <button class="nav-button nav-button-signup">Signup</button>
</nav>
{{outlet}}
