<header class="header index-hero-header">
  <h1 class="primary-heading">Team Builder</h1>
  <h2 class="secondary-heading">Explore real-world problems submitted by people around the globe and volunteer to join a team to help solve them.</h2>
  {{#link-to 'problems.create'}}
    <button class="header-button-add">Add a Problem You Need Help With Solving!</button>
  {{/link-to}}
</header>
<section class="problems-outer-container">
  {{planetary-globe}}
  <div class="problems-index-container">Problems You Can Help With:
    {{problems-index model=model}}
    <form class="problems-search-form">
      <label>
        Search for users or problems by keyword:
        <input class="problems-search-input">
      </label>
      <button class="button-search">Search</button>
    </form>
  </div>
</section>


{{outlet}}
