<header class="header index-hero-header">
  <h1 class="primary-heading">Team Builder</h1>
  <h2 class="secondary-heading">Explore real-world problems submitted by people around the globe and volunteer to join a team to help solve them.</h2>
  {{#link-to 'problems.create'}}
    <button class="header-button-add">Add a Problem You Need Help With Solving!</button>
  {{/link-to}}
</header>
<section class="problems-outer-container">
  {{planetary-globe}}
  <div class="problems-index-container">Current Problems You Can Help With:
    {{problems-index model=model}}
    <form class="index-search-form">
      <input class="index-search-input" type="text" placeholder="Search for users or problems by keyword">
      <button class="index-button-search" {{action 'getResults'}}>Search</button>
    </form>
  </div>
</section>
<section class="search-results">
  <h2 class="secondary-heading">Search Results</h2>
</section>


{{outlet}}
