<header class="landing-header">
  <h1>Team Builder</h1>
  <button>Add a Problem You Need Help Solving</button>
</header>
<section class="landing-index">
  <h2 class="landing-index-heading">Explore problems submitted by others and volunteer to join a team to help solve them.</h2>
  <div class="problem-index-map">Map</div>
  <div class="problem-index-container">Problems You Can Help With:
    {{problems-index}}
  </div>
  <h2 class="problem-filter-heading">Filter by category</h2>
  <ul class="category-filter-list">
    <li class="filter-list-item">Home</li>
    <li class="filter-list-item">Civic</li>
    <li class="filter-list-item">Community</li>
    <li class="filter-list-item">Software</li>
    <li class="filter-list-item">Art & Music</li>
    <li class="filter-list-item">Other</li>
  </ul>
  <form class="landing-search-form">
    <input class="landing-search-input" placeholder="Search for users or problems by keyword"><button class="button-search">Search</button>
  </form>
</section>

{{outlet}}
